<!-- app/views/COLLECTION/show.html.erb -->
<p><%= link_to "Back", url_for(action: :index) %> | <%= link_to "Edit", url_for([:edit, instance_variable_get("@#{controller_name.singularize}")]) %></p>
<h1><%= instance_variable_get("@#{controller_name.singularize}").name %></h1>
